html { 
  background: #EEEEEE;
}
.Ti {
    font-weight: 600;
    padding: 0px;
}
body {
	margin: 0px;
}
a {
    color: #333333;
    text-decoration: none;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    font-family: 'Optima';
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

/* Change the link color to #060106 (black) on hover */
li a:hover {
    background-color: #060106;
}

#main {
    margin: auto;
}

hr {
    width: 320px;
}

article {
    color: #333333;
    text-align: center;
    font-family: 'Palatino', serif;
    padding: 20px;
}
article a {
    transition-property: all;
    transition-duration: 0.5s;
}
article a:hover {
    color:rgb(6, 100, 6);
}

article p {
    line-height: 1.6;
}